<div id="" class="modal">
  <div class="modal-header">
    <h1 class="dialog-title">BetterCoffee Settings</h1>
  </div>
  <div class="modal-body table-striped tab-content">

    <form class="form-horizontal">
      <div class="control-group">
        <label>
          <input type="checkbox" id="hideJsFiles"> Hide .js files when a matching .coffee file is found
        </label>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button data-button-id="close" class="dialog-button btn primary btn-80">Close</button>
  </div>
</div>
